<?xml version="1.0" encoding="UTF-8"?>
<cdtprojectproperties>
  <section name="org.eclipse.cdt.internal.ui.wizards.settingswizards.IncludePaths">
    <language id="org.eclipse.cdt.core.gcc" name="C Source File"/>
    <language id="org.eclipse.cdt.core.g++" name="C++ Source File"/>
    <language name="Object File"/>
    <language id="org.eclipse.cdt.core.assembly" name="Assembly Source File"/>
  </section>
  <section name="org.eclipse.cdt.internal.ui.wizards.settingswizards.Macros">
    <language id="org.eclipse.cdt.core.gcc" name="C Source File">
      <macro>
        <name>ADIOS_PROCESSOR_STM32F405RG</name>
        <value>1</value>
      </macro>
      <macro>
        <name>ADIOS_BOARD_MBHP_DIPCOREF4</name>
        <value>1</value>
      </macro>
      <macro>
        <name>ADIOS_FAMILY_STM32F4xx</name>
        <value>1</value>
      </macro>
      <macro>
        <name>USE_FULL_LL_DRIVER</name>
        <value>1</value>
      </macro>
      <macro>
        <name>STM32F405xx</name>
        <value>1</value>
      </macro>
      <macro>
        <name>__GNUC__</name>
        <value>1</value>
      </macro>
    </language>
    <language id="org.eclipse.cdt.core.g++" name="C++ Source File">
      <macro>
        <name>USE_FULL_LL_DRIVER</name>
        <value>1</value>
      </macro>
    </language>
    <language name="Object File"/>
    <language id="org.eclipse.cdt.core.assembly" name="Assembly Source File"/>
  </section>
</cdtprojectproperties>
